# Copy this file to .env and fill in all the values.  See README for more details.

# Shared configuration
GATEWOOD_HOST="https://gatewood.example.com"
TAG=latest

# Rails / Basecamp secrets
BASECAMP_CLIENT_ID=
BASECAMP_CLIENT_SECRET=
SLACK_TEAM=
SECRET_KEY_BASE=

# Database config - defaults are usually fine
GATEWOOD_DATABASE_NAME=gatewood
GATEWOOD_DATABASE_USER=gatewood
GATEWOOD_DATABASE_PASSWORD=gatewood

# Bolt / Slack secrets
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_TEAM=
