# Copy this file to .env and fill in all the values.  See README for more details.

# Shared configuration
GATEWOOD_HOST="https://gatewood.example.com"

# Rails / Basecamp secrets
BASECAMP_CLIENT_ID=
BASECAMP_CLIENT_SECRET=
SLACK_TEAM=
SECRET_KEY_BASE=

# Bolt / Slack secrets
SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_TEAM=
