<% if flash.alert %>
  <div class="rounded-md bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= heroicon "solid/x-circle" %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-red-800"><%= flash.alert %></h3>
      </div>
    </div>
  </div>
<% elsif flash.notice %>
  <div class="rounded-md bg-green-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <%= heroicon "solid/check-circle" %>
      </div>
      <div class="ml-3">
        <h3 class="text-sm font-medium text-green-800"><%= flash.notice %></h3>
      </div>
    </div>
  </div>
<% end %>
